.jam-main-body{
    Padding : 10px
}

.workshop_table {
    table-layout: fixed;
    width: 100%;
}

.workshop_table.table.th {
    width: 150px;
}

.workshop_table.table.td {
    width: 150px;
}


li{
    List-style-type:none
}


.volunteer_table {
    border-collapse: collapse;
}

.volunteer_table, th, td {
    border: 1px solid black;
    padding: 15px;
}

#submit_button{
    font-size: 24px;
    padding: 10px;
}