{% extends "layout.html" %}

{% block content %}
    <h2>Password Reset</h2>
    <p>Now enter the new password you wish to use.</p>
            <br>
            <form method=post style="max-width: 220px">
                <dl>
                    {{ render_field(form.new_password, class="form-control col-xs-5 col-lg-1") }}
                    {{ form.url_key }}
                </dl>
                <p><input class="btn btn-primary" type=submit value="Change Password"> </p>
                <input type=hidden value="{{ next or '' }}" name=next>
            </form>
            {%include '_message_flash_helper.html'%}
{% endblock %}