{% extends "layout.html" %}

{% block content %}
    <h2>Forgotten password</h2>
    <p>Enter the email address assigned to your account to reset it, plus answer the question.</p>
            <form method=post style="max-width: 220px">
                <dl>
                    {{ render_field(form.email_address, class="form-control col-xs-5 col-lg-1") }}
                    {{ render_field(form.maths, class="form-control") }}
                </dl>
                <br>
                <p><input class="btn btn-primary" type=submit value="Submit"> </p>
                <input type=hidden value="{{ next or '' }}" name=next>
            </form>
            {%include '_message_flash_helper.html'%}
{% endblock %}