{% extends "layout.html" %}

{% block content %}
  <h1>{{ jam_organisation_name }}</h1>
  <p>Welcome to the {{ jam_organisation_name }} Information System.</p>

  {% if modules_enabled.module_booking %}
    <p>To book workshops, please enter your order ID (found on your ticket) below along with the Jam password provided when you arrive.</p>

    {% from "_formhelpers.html" import render_field %}
    <form method=post>
      <dl>
        {{ render_field(form.order_id) }}
        {{ render_field(form.day_password) }}
      </dl>
      <p><input class="btn btn-primary" type=submit value="Log in">
    </form>
    {%include '_message_flash_helper.html'%}
  {% endif %}

{% endblock %}