<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/bootstrap-select.min.css">
    <link rel="stylesheet" href="/static/css/alertify.min.css" />
    <link rel="stylesheet" href="/static/css/themes/bootstrap.min.css" />
    <script src="/static/js/jquery.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <script src="/static/js/bootstrap-select.min.js"></script>
    <script src="/static/js/jam.js"></script>
    <script src="/static/js/alertify.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/static/css/jam.css">
    <script defer src="/static/js/fontawesome-all.js"></script>
    <title>{{ jam_organisation_name }}</title>
</head>
<body>

<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">{{ short_jam_organisation_name }}</a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav">
                <li class="active"><a href="/">Home</a></li>
                {% if modules_enabled.module_booking %}
                <li><a href="/workshops">Workshops</a></li>
                {% endif %}
                {% if modules_enabled.module_badge %}
                <li><a href="/badges">Badges</a></li>
                {% endif %}
                {% if modules_enabled.module_public_schedule %}
                <li><a href="/public_schedule">Public Schedule</a></li>
                {% endif %}
                {% if logged_in_user %}
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">Volunteer<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        {% if modules_enabled.module_core %}
                        <li><a href="/admin/admin_home">Volunteer Home</a></li>
                        {% endif %}
                        {% if modules_enabled.module_workshops %}
                        <li><a href="/admin/manage_workshop_catalog">Manage workshops in catalog</a></li>
                        {% endif %}
                        {% if modules_enabled.module_workshops %}
                        <li><a href="/admin/add_workshop_to_jam">Manage workshops in Jam</a></li>
                        {% endif %}
                        {% if modules_enabled.module_volunteer_signup %}
                        <li><a href="/admin/volunteer">Volunteer signup</a></li>
                        {% endif %}
                        {% if modules_enabled.module_volunteer_attendance %}
                        <li><a href="/admin/volunteer_attendance">Volunteer attendance</a></li>
                        {% endif %}
                        {% if modules_enabled.module_attendees %}
                        <li><a href="/admin/manage_attendees">Attendee management</a></li>
                        {% endif %}
                        {% if modules_enabled.module_attendees %}
                        <li><a href="/admin/attendee_list">Attendee list</a></li>
                        {% endif %}
                        {% if modules_enabled.module_attendees %}
                        <li><a href="/admin/fire_list">Fire list</a></li>
                        {% endif %}
                        {% if modules_enabled.module_badge %}
                        <li><a href="/admin/badge">Badge catalog</a></li>
                        {% endif %}
                        {% if modules_enabled.module_equipment %}
                        <li><a href="/admin/manage_inventories">Manage inventories</a></li>
                        {% endif %}
                        {% if modules_enabled.module_equipment %}
                        <li><a href="/admin/manage_equipment">Manage equipment</a></li>
                        {% endif %}
                        {% if modules_enabled.module_volunteer_signup %}
                        <li><a href="/admin/wrangler_overview">Wrangler overview</a></li>
                        {% endif %}
                        {%  if modules_enabled.module_finance %}
                        <li><a href="/admin/expenses_claim">Expenses claims</a></li>
                        {% endif %}
                        {%  if modules_enabled.module_police_check %}
                        <li><a href="/admin/police_checks">Police checks</a></li>
                        {% endif %}
                        {%  if modules_enabled.module_link %}
                        <li><a href="/admin/links">Links</a></li>
                        {% endif %}
                        {%  if modules_enabled.module_volunteer_signup %}
                        <li><a href="/admin/meetings">Meetings</a></li>
                        {% endif %}
                        {%  if modules_enabled.module_workshops %}
                        <li><a href="/admin/print_queue">Print queue</a></li>
                        {% endif %}
                    </ul>
                </li>
                {%  if logged_in_user.group_id >= 4 %}
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Trustee<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            {%  if modules_enabled.module_finance %}
                                <li><a href="/trustee/finance/ledger">Ledger</a></li>
                                <li><a href="/trustee/finance/expenses_list">Expenses list</a></li>
                            {% endif %}
                            {% if modules_enabled.module_volunteer_attendance %}
                                <li><a href="/trustee/volunteer_stats">Volunteer stats</a></li>
                            {% endif %}
                            {% if modules_enabled.module_police_check %}
                                <li><a href="/trustee/police_checks_admin">Police checks admin</a></li>
                            {% endif %}
                            <li><a href="/admin/manage_jams">Manage/Add Jams</a></li>
                            {%  if logged_in_user.group_id >= 4 %}
                                {% if modules_enabled.module_core %}
                                    <li><a href="/admin/manage_users">User Management</a></li>
                                    <li><a href="/admin/jam_setup">Jam Setup</a></li>
                                {% endif %}
                            {% endif %}
                            </ul>
                    </li>
                {% endif %}
                    
                {% else %}
                <li><a href="/admin/admin_home">Admin</a></li>
                {% endif %}
            
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="/logout"><span class="glyphicon glyphicon-log-in"></span> Logout</a></li>
                {% if logged_in_user %}
                    <li><a href="/admin/admin_home"> {{ logged_in_user.first_name|capitalize }} {{ logged_in_user.surname|capitalize }}</a></li>
                {% else %}
                    <li><a href="/login"><span class="glyphicon glyphicon-log-in"></span> Volunteer Login</a></li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>
<div class="jam-main-body">
    {% from "_formhelpers.html" import render_field %}
    <div class="{{container_name or 'container'}}">
    {% block content %}

    {% endblock %}

    </div>
</div>
</body>
</html>