{%include 'header.html'%}
{% from "_formhelpers.html" import render_field %}

<div class="container">
        <h2>Login</h2>
        <p>For Jam volunteers only.</p>
        <form method=post>
            <dl>
                {{ render_field(form.username, class="form-control col-xs-5 col-lg-1") }}
                {{ render_field(form.password, class="form-control") }}
            </dl>
            <p><input class="btn btn-primary" type=submit value="Login"> <a href="/reset" class="btn btn-danger" role="button">Reset password</a></p>
        </form>
</div>
{%include 'footer.html'%}