{% extends "layout.html" %}

{% block content %}
    <div class="container">
            <h2>Volunteer Login</h2>
            <p>For Jam volunteers only.</p>
            <form method=post style="max-width: 220px">
                <dl>
                    {{ render_field(form.username, class="form-control col-xs-5 col-lg-1") }}
                    {{ render_field(form.password, class="form-control") }}
                </dl>
                <p><input class="btn btn-primary" type=submit value="Login"> <a href="/reset" class="btn btn-danger" role="button">Reset password</a></p>
                <input type=hidden value="{{ next or '' }}" name=next>
            </form>
            {%include '_message_flash_helper.html'%}
    </div>
{% endblock %}