{% extends "layout.html" %}

{% block content %}

    <script>
        setInterval(function() {
                      window.location.reload();
                    }, 180000);
    </script>

    <h1 style="text-align: center">Raspberry Jam Schedule</h1>
    <h2 style="text-align: center">{{selected_jam.name}}</h2>
    <h3 style="text-align: center">{{selected_jam.date.strftime('%d/%m/%Y')}}</h3>

    <br>

    <div style="font-size: large">

        <table class="volunteer_key">
            <tr>
                <th>Key</th>
            </tr>
            <tr>
                <td bgcolor="#00dbc1">Not upfront taught workshops</td>
                <td bgcolor="#c4fc9f">Beginner level workshop</td>
                <td bgcolor="#fcbd00">Intermediate level workshop</td>
                <td bgcolor="#fc9f9f">Advanced level workshop</td>
            </tr>
        </table>

        <br>
        <p>Note that workshops with <i class="fas fa-flask"></i> around their title are experimental pilot workshops. </p> 
        <p>Workshops with <img height="20" width="20" src="/static/img/pair-programming.svg"> around their title may involve attendees sharing equipment (pair programming). </p>
        <table class="volunteer_table">
            <tr>
                <th></th>
            {% for workshop_room in workshop_rooms_in_use %}
                <th width="{{90 / total_workshop_rooms | int}}%">{{workshop_room.room_name}}</th>
            {% endfor %}
            </tr>

            {% for time_slot in time_slots %}
                <tr>
                <th>{{time_slot.slot_time_start}} - {{time_slot.slot_time_end}}</th>
                {% for room in time_slot.rooms %}
                    {% if room.workshop.dummy %}
                        <td bgcolor="#d3d3d3"></td>
                    {% else %}
                    <td id="{{ room.workshop.workshop_run_id }}" bgcolor={{room.workshop.bg_colour}} style="text-align: center; vertical-align:top"> <p> {% if room.workshop.pair %}<img height="20" width="20" src="/static/img/pair-programming.svg"> {% endif %} {% if room.workshop.pilot %} <i class="fas fa-flask"></i> {% endif %} <b>{{room.workshop.workshop.workshop_title}}</b> {% if room.workshop.pilot %} <i class="fas fa-flask"></i> {% endif %}{% if room.workshop.pair %}<img height="20" width="20" src="/static/img/pair-programming.svg"> {% endif %} <br>  {{room.workshop.attendees|length}}/{{room.workshop.max_attendees}}
                        <br><span style="font-size: medium">{{room.workshop.workshop.workshop_description}}</span>
                    </p></td>
                    {% endif %}
                {% endfor %}
                </tr>
            {% endfor %}

        </table>
    </div>
{% endblock %}