{%include 'header.html'%}
{% from "_formhelpers.html" import render_field %}

<div class="container">
    <form method=post>
        <dl>
            {{ render_field(form.username) }}
            {{ render_field(form.password) }}
            {{ render_field(form.first_name) }}
            {{ render_field(form.surname) }}
            {{ render_field(form.email) }}
            {{ render_field(form.access_code) }}
        </dl>
    <p><input type=submit value="Register">
    </form>
</div>
{%include 'footer.html'%}