<div class="workshop_table">
    {% for workshop_slot in workshop_slots %}

    {% if workshop_slot.slot_description %}
        <h2>{{workshop_slot.slot_description}} - {{workshop_slot.title}}</h2>
    {% else %}
        <h2>{{workshop_slot.title}}</h2>
    {% endif %}

    <table class="table table-hover">
        <tr>
            <th width=20%>Workshop title</th>
            <th width=15%>Room</th>
            <th width=30%>Description</th>
            <th width=10%>Capacity</th>
            <th width=10%>Booked in</th>
            <th width=5%></th>
        </tr>
        {% for workshop in workshop_slot.workshops %}
        <tr>
            <td>{% if workshop.pilot %} <i class="fas fa-flask"></i> {% endif %} {{workshop.workshop_title}} {% if workshop.pilot %} <i class="fas fa-flask"></i> {% endif %} </td>
            <td>{{workshop.workshop_room}}</td>
            <td>{{workshop.workshop_description}}</td>
            <td>{{workshop.workshop_limit}}</td>
            <td>{{workshop.attendee_names}}</td>
            <td>
                <button id="book_button" data-id="{{workshop.workshop_id}}"
                        onclick="addWorkshopBooking({{workshop.workshop_id}})" value="val_1" name="but1">Book
                </button>
                <button id="unbook_button" data-id="{{workshop.workshop_id}}"
                        onclick="removeWorkshopBooking({{workshop.workshop_id}})" value="val_2" name="but2">Unbook
                </button>
            </td>
        </tr>
        {% endfor %}
    </table>
    {% endfor %}

    <form>
    </form>
</div>