<div class="workshop_table">
    {% for slot in slots %}
        {% if slot.jam_workshops_in_slot %}
            <h2>{{ slot.title }}</h2>
            
            <table class="table table-hover, table-bordered">
            <tr bgcolor="#d3d3d3">
                <th width=20%>Workshop title</th>
                <th width=15%>Room</th>
                <th width=28%>Description</th>
                <th width=8%>Capacity</th>
                <th width=19%>Book into workshop</th>
            </tr>
            
            {% for jam_workshop in slot.jam_workshops_in_slot %}
                <tr>
                    <td>{% if jam_workshop.workshop.pilot %} <i class="fas fa-flask"></i> {% endif %} {{jam_workshop.workshop.workshop_title}} {% if jam_workshop.workshop.pilot %} <i class="fas fa-flask"></i> {% endif %} </td>
                    <td>{{jam_workshop.workshop_room.room_name}}</td>
                    <td>{{jam_workshop.workshop.workshop_description}}</td>
                    <td><p id="{{jam_workshop.workshop_run_id}}-max-attendees">{{ jam_workshop.attendees|length }}/{{jam_workshop.max_attendees}}</p></td>
                    
                    <td>
                        {% if jam_workshop.max_attendees > 0 %}
                            {% for attendee in jam_workshop.potential_attendees %}
                                {% if attendee.attendee.ticket_type == "General Jam Attendee" or attendee.attendee.ticket_type == "First-timer" %}
                                    {% if attendee.bookable or attendee.attendee not in jam_workshop.attendees %}
                                    
                                        {% if attendee.attendee not in jam_workshop.attendees %}
                                            {% if attendee.alert and attendee.attendee.alert.workshop_id and not attendee.attendee.alert.workshop_id == jam_workshop.workshop.workshop_id and attendee.attendee.alert.slot_id == slot.slot_id %}
                                                <button style="margin: 3px; float: left" onclick="bookWorkshopAlert('{{jam_workshop.workshop_run_id}}' ,'{{attendee.attendee.attendee_id}}', '{{ attendee.alert.alert_message }}')" type="button" class="btn btn-danger" id="{{jam_workshop.workshop_run_id}}-{{attendee.attendee.attendee_id}}" data-toggle="tooltip" data-placement="top" >{{attendee.attendee.first_name}} {{attendee.attendee.surname}}</button>
                                            {% else %}
                                                <button style="margin: 3px; float: left" onclick="bookWorkshop('{{jam_workshop.workshop_run_id}}' ,'{{attendee.attendee.attendee_id}}')" type="button" class="btn btn-danger" id="{{jam_workshop.workshop_run_id}}-{{attendee.attendee.attendee_id}}" data-toggle="tooltip" data-placement="top" >{{attendee.attendee.first_name}} {{attendee.attendee.surname}}</button>
                                            {% endif %}
                                        {% else %}
                                            <button style="margin: 3px; float: left" onclick="unbookWorkshop('{{jam_workshop.workshop_run_id}}' ,'{{attendee.attendee.attendee_id}}')" type="button" class="btn btn-success" id="{{jam_workshop.workshop_run_id}}-{{attendee.attendee.attendee_id}}" data-toggle="tooltip" data-placement="top" >{{attendee.attendee.first_name}} {{attendee.attendee.surname}}</button>
                                        {% endif %}
                                    {% else %}
                                        <p>Unable to book - {{ attendee.message }}</p>
                                    {% endif %}
                               {% endif %} 
                            {% endfor %}
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
            </table>
        {% endif %}
            
    {% endfor %}
</div>