   <div class="workshop_table">
       {% for workshop_slot in workshop_slots %}

   <h2>{{workshop_slot.title}}</h2>
    <table class="table table-hover">
        <tr>
            <th>Workshop title</th>
            <th>Workshop room</th>
            <th>Workshop description</th>
        </tr>
        {% for workshop in workshop_slot.workshops %}
        <tr>
            <td>{{workshop.workshop_title}}</td>
            <td>{{workshop.workshop_room}}</td>
            <td>{{workshop.workshop_description}}</td>
        </tr>
        {% endfor %}
    </table>
   {% endfor %}
   </div>