{% extends "layout.html" %}

{% block content %}
    <div class="container">
            <h2>Reset password</h2>
            <p>For Jam volunteers only.</p>
            <form method=post style="max-width: 220px">
                <dl>
                    {{ render_field(form.username, class="form-control") }}
                    {{ render_field(form.reset_code, class="form-control") }}
                    {{ render_field(form.new_password, class="form-control") }}
                </dl>
            <p><input class="btn btn-primary" type=submit value="Reset">
            </form>
        <p>{{error}}</p>
    </div>
{% endblock %}