{%include 'header.html'%}


    <h2>Workshops</h2>
    <p>Currently available workshops can be found below. To book into a workshop, select the person to book in, then hit the book button beside the workshop you want to book into.</p>
    <p>Note that holders of parent/guardian tickets can not book into workshops as the allocated spaces are for Jam Attendee ticket holders only.</p>

    <select class="form-control">
        {% for jam_attendee in jam_attendees %}
        <option value="{{jam_attendee.id}}">{{jam_attendee.name}}</option>
        {% endfor %}
    </select>

    {%include 'render_workshops_in_slots.html'%}



{%include 'footer.html'%}