werkzeug == 0.16.1 # Required due to https://github.com/maxcountryman/flask-uploads/issues/29
flask
flask_mysql
flask_wtf
flask_bcrypt
flask-uploads
eventbrite
SQLAlchemy
wtforms
wtforms-components
gspread
oauth2client
flask_mail
beautifulsoup4
slackclient
ics
