{% extends "layout.html" %}

{% block content %}
<h2>Workshop scheduling</h2>
<p>Use the following section to add workshops from the Jam catalog to the upcoming Jam.</p>
<a href="/admin/possible_workshops_for_jam" class="btn btn-info" role="button">View possible workshops for upcoming Jam</a>
<form method=post>
  <dl>
    {{ render_field(form.workshop, class="selectpicker", **{'data-live-search':'true'}) }}
    {{ render_field(form.volunteer, class="selectpicker", **{'data-live-search':'true'}) }}
    {{ render_field(form.slot, class="selectpicker", **{'data-live-search':'true'}) }}
    {{ render_field(form.room, class="selectpicker", **{'data-live-search':'true'}) }}
    {{ render_field(form.pilot, class="selectpicker") }}
    {{ render_field(form.pair, class="selectpicker") }}
  </dl>
  <p><input class="btn btn-primary" type=submit value="Add workshop to Jam">
</form>
{%include 'admin/admin_render_workshops_in_slots.html'%}

{% endblock %}