{%include 'admin/admin_header.html'%}

{% from "_formhelpers.html" import render_field %}
<h2>Workshop scheduling</h2>
<p>Use the following section to add workshops from the Jam catalog to the upcoming Jam.</p>
<form method=post>
  <dl>
    {{ render_field(form.workshop) }}
    {{ render_field(form.volunteer) }}
    {{ render_field(form.slot) }}
      {{ render_field(form.room) }}
  </dl>
  <p><input type=submit value="Add workshop to Jam">
</form>
{%include 'admin/admin_render_workshops_in_slots.html'%}

{%include 'footer.html'%}