<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <script src="/static/js/jquery.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/static/css/bootstrap-select.min.css">
    <script src="/static/js/bootstrap-select.min.js"></script>
    <script src="/static/js/jam.js"></script>
    <link rel="stylesheet" type="text/css" href="/static/css/jam.css">
    <script defer src="/static/js/fontawesome-all.js"></script>
    <title>NI Jam Information System</title>
</head>
<body>

<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">NI Raspberry Jam</a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav">
                <li class="active"><a href="/">Home</a></li>
                <li><a href="/workshops">Workshops</a></li>
                <li><a href="/public_schedule">Public Schedule</a></li>
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">Admin<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        {% if modules_enabled.module_core %}
                        <li><a href="/admin/admin_home">Admin Home</a></li>
                        {% endif %}
                        {% if modules_enabled.module_workshops %}
                        <li><a href="/admin/manage_workshop_catalog">Manage workshops in catalog</a></li>
                        {% endif %}
                        {% if modules_enabled.module_workshops %}
                        <li><a href="/admin/add_workshop_to_jam">Manage workshops in Jam</a></li>
                        {% endif %}
                        {% if modules_enabled.module_volunteer_signup %}
                        <li><a href="/admin/volunteer">Volunteer signup</a></li>
                        {% endif %}
                        {% if modules_enabled.module_volunteer_attendance %}
                        <li><a href="/admin/volunteer_attendance">Volunteer attendance</a></li>
                        {% endif %}
                        {% if modules_enabled.module_attendees %}
                        <li><a href="/admin/manage_attendees">Attendee management</a></li>
                        {% endif %}
                        {% if modules_enabled.module_attendees %}
                        <li><a href="/admin/attendee_list">Attendee list</a></li>
                        {% endif %}
                        {% if modules_enabled.module_attendees %}
                        <li><a href="/admin/fire_list">Fire list</a></li>
                        {% endif %}
                        {% if modules_enabled.module_core %}
                        <li><a href="/admin/add_jam">Add Jam (SA)</a></li>
                        {% endif %}
                        {% if modules_enabled.module_core %}
                        <li><a href="/admin/manage_users">User Management (SA)</a></li>
                        {% endif %}
                    </ul>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="/logout"><span class="glyphicon glyphicon-log-in"></span> Logout</a></li>
                <li><a href="/login"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
            </ul>
        </div>
    </div>
</nav>
<div class="jam-main-body">
    <div class="container">