<div class="workshop_table">
    {% for workshop_slot in workshop_slots %}

    <h2>{{workshop_slot.title}}</h2>
    <table class="table table-hover table-bordered">
        <tr bgcolor="#d3d3d3">
            <th width=20%>Workshop title</th>
            <th width=15%>Workshop room</th>
            <th width=30%>Workshop description</th>
            <th width=10%>Workshop capacity</th>
            <th width=10%>Workshop attendees</th>
            <th width=10%>Run by</th>
            <th width=5%>Delete</th>
        </tr>
        {% for workshop in workshop_slot.workshops %}
        <tr>
            <td>{% if workshop.pilot %} <i class="fas fa-flask"></i> {% endif %} {{workshop.workshop_title}} {% if workshop.pilot %} <i class="fas fa-flask"></i> {% endif %} </td>
            <td>{{workshop.workshop_room}}</td>
            <td>{{workshop.workshop_description}}</td>
            <td>{{workshop.workshop_limit}}</td>
            <td>{{workshop.attendee_names}}</td>
            <td>{{workshop.volunteer}}</td>
            <td>
                <button id="delete_button" data-id="{{workshop.workshop_id}}"
                        onclick="deleteJamWorkshop({{workshop.workshop_id}})" value="val_1" name="but1">Delete
                </button>
            </td>
        </tr>
        {% endfor %}
    </table>
    {% endfor %}

    <form>
    </form>
</div>