{%include 'admin/admin_header.html'%}

<h2>Admin Home Page</h2>
<h3>The current selected Jam is - {{ eventbrite_event_name }}</h3>
<p>You are now logged in. Select an NIJIS admin option below.</p>

<a href="/admin/add_workshop_to_catalog" class="btn btn-primary" role="button">Add new workshop to the Jam catalog</a> <br>
<br>
<a href="/admin/add_workshop_to_jam" class="btn btn-primary" role="button">Schedule a workshop in upcoming Jam</a><br>
<br>
<a href="/admin/volunteer" class="btn btn-primary" role="button">Volunteer Signup</a><br>
<br>
<a href="/admin/volunteer_attendance" class="btn btn-primary" role="button">Volunteer attendance</a> <br>
<br>
<a href="/admin/attendee_list" class="btn btn-info" role="button">Attendee list</a><br>
<br>
<br>

<a href="/admin/add_jam" class="btn btn-warning" role="button">Add new Jam</a><br>

{%include 'footer.html'%}