{% extends "layout.html" %}

{% block content %}
<h1>Attendee list for current selected Jam</h1>
<div class="attendees">
    <table class="table table-hover, table-bordered">
        <tr bgcolor="#d3d3d3">
            <th>First name</th>
            <th>Surname</th>
            <th>Order ID</th>
        </tr>
        {% for attendee in attendees %}
            <tr>
                <td>{{attendee.first_name}}</td>
                <td>{{attendee.surname}}</td>
                <td>{{attendee.order_id}}</td>
            </tr>
        {% endfor %}
    </table>
</div>
{% endblock %}