{% extends "layout.html" %}

{% block content %}
{% from "_formhelpers.html" import render_field %}

<h1>Jam setup</h1>
<p>Use this page to configure the Jam configuration in NIJIS. </p>

<h2>Time slots</h2>

<form method=post style="max-width: 220px">
    <dl>
        {{ render_field(form_slot.slot_time_start, class = "form-control") }}
        {{ render_field(form_slot.slot_time_end, class = "form-control") }}
        {{ form_slot.slot_id }}
    </dl>
    <p><input class="btn btn-primary" type=submit value="Add/edit time slot">
</form>

{% with messages = get_flashed_messages(with_categories=true) %}
          <!-- Categories: success (green), info (blue), warning (yellow), danger (red) -->
          {% if messages %}
            {% for category, message in messages %}
              <div class="alert alert-{{ category }} alert-dismissible" role="alert">
              <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <!-- <strong>Title</strong> --> {{ message }}
              </div>
            {% endfor %}
          {% endif %}
        {% endwith %}

<h3>Current time slots</h3>

<table class="table table-hover, table-bordered">
    <tr bgcolor="#d3d3d3">
        <th>Slot ID</th>
        <th>Start time</th>
        <th>End time</th>
        <th>Edit</th>
        <th>Remove</th>
    </tr>


    {% for slot in slots %}
    {% if current_selected_slot == slot.slot %}
            <tr bgcolor="#90ee90">
        {% else %}
            <tr>
        {% endif %}
        <td>{{slot.slot_id}}</td>
        <td>{{slot.slot_time_start}}</td>
        <td>{{slot.slot_time_end}}</td>
        <td><a href="/admin/jam_setup/slot/{{slot.slot_id}}" class="btn btn-success" role="button">Edit</a></td>
        <td><a href="/admin/jam_setup/remove_slot/{{slot.slot_id}}" class="btn btn-warning" role="button">Remove</a></td>
    </tr>
    {% endfor %}
</table>

<h2>Rooms</h2>

<form method=post style="max-width: 220px">
    <dl>
        {{ render_field(form_room.room_name, class = "form-control") }}
        {{ render_field(form_room.room_capacity, class = "form-control") }}
        {{ render_field(form_room.room_volunteers_needed, class = "form-control") }}
    </dl>
    <p><input class="btn btn-primary" type=submit value="Add/edit time slot">
</form>

<h3>Current rooms</h3>

<table class="table table-hover, table-bordered">
    <tr bgcolor="#d3d3d3">
        <th>Room ID</th>
        <th>Room name</th>
        <th>Capacity</th>
        <th>Required volunteers</th>
        <th>Edit</th>
        <th>Remove</th>
    </tr>
    {% for room in rooms %}
    {% if current_selected_room == room.room_id %}
            <tr bgcolor="#90ee90">
        {% else %}
            <tr>
        {% endif %}
        <td>{{room.room_id}}</td>
        <td>{{room.room_name}}</td>
        <td>{{room.room_capacity}}</td>
        <td>{{room.room_volunteers_needed}}</td>
        <td><a href="/admin/jam_setup/room/{{room.room_id}}" class="btn btn-success" role="button">Edit</a></td>
        <td><button class="btn btn-warning" onclick="selectInventory()">Remove</button></td>
    </tr>
    {% endfor %}
</table>

{% endblock %}