{% extends "layout.html" %}

{% block content %}

<div class="container">
  <h2>Raspberry Jams</h2>
  <p>Currently added Jams can be seen below.</p>
    <table class="table table-hover, table-bordered">
        <tr bgcolor="#d3d3d3">
            <th>Jam ID</th>
            <th>Jam Name</th>
            <th>Jam Date</th>
            <th>Password</th>
            <th>Select</th>
            <th>Delete</th>
            <th>Reimport attendee data</th>
        </tr>
        {% for jam_in_db in jams_in_db %}
        {% if current_jam_id == jam_in_db.jam_id %}
            <tr bgcolor="#90ee90">
        {% else %}
            <tr>
        {% endif %}

            <td>{{ jam_in_db.jam_id }}</td>
            <td>{{ jam_in_db.name }}</td>
            <td>{{ jam_in_db.date }}</td>
            <td onclick='editJamPassword("{{ jam_in_db.jam_id }}", this.textContent, this)'>{{ jam_in_db.jam_password }}</td>
            <td>
                <button id="select_jam_button" data-id="{{jam_in_db.jam_id}}" class="btn btn-success"
                        onclick="selectJam({{jam_in_db.jam_id}})" value="val_1" name="but1">Select
                </button>
            </td>
            <td>
                <button id="delete_jam_button" data-id="{{jam_in_db.jam_id}}" class="btn btn-danger"
                        onclick="deleteJam({{jam_in_db.jam_id}})" value="val_1" name="but2">Delete
                </button>
            </td>
            <td><a href="/admin/import_attendees_from_eventbrite/{{jam_in_db.jam_id}}" class="btn btn-info" role="button">Reimport</a></td>
        </tr>
        {% endfor %}
    </table>
    <p>Select a Raspberry Jam from the list below to add to the system.</p>
  <div class="dropdown">
    <button class="btn btn-default dropdown-toggle" type="button" id="menu1" data-toggle="dropdown">Add new Jam
    <span class="caret"></span></button>
    <ul class="dropdown-menu" role="menu" aria-labelledby="menu1">
        {% for jam in jams %}
      <li role="presentation"><a role="menuitem" tabindex="-1" href=/admin/add_jam/{{jam.id}}>{{jam.name}}</a></li>
        {% endfor %}
    </ul>
  </div>
</div>

{% endblock %}