{%include 'admin/admin_header.html'%}

{% from "_formhelpers.html" import render_field %}
<h2>Add new workshop to catalog</h2>
<p>Use this page to add a workshop to the Raspberry Jam catalog so it can be scheduled in.</p>
<p>For the max attendees, this should be the max number of hardware available, room size is handled separately in scheduling section.</p>
<form method=post>
  <dl>
    {{ render_field(form.workshop_title) }}
    {{ render_field(form.workshop_description) }}
    {{ render_field(form.workshop_limit) }}
    {{ render_field(form.workshop_level) }}
    <div class="form-group">
    {{ render_field(form.hidden, class="selectpicker", **{'data-live-search':'true'}) }}
    </div>
  </dl>
  <p><input type=submit value="Add workshop">
</form>

{%include 'footer.html'%}