{% extends "layout.html" %}

{% block content %}

<script src="/static/js/volunteer.js"></script>

<h1>Volunteer Signup</h1>
<h3>{{ user.first_name }} {{ user.surname }}</h3>
<p>Select sessions you would like to volunteer with by simply clicking on them. Once you have made any changes, make sure to hit the save button!</p>
{%  if logged_in_user.group_id >= 4 %}
<br>
  <div class="dropdown">
    <button class="btn btn-default dropdown-toggle" type="button" id="menu1" data-toggle="dropdown">Select a volunteer
    <span class="caret"></span></button>
    <ul class="dropdown-menu" role="menu" aria-labelledby="menu1">
        {% for volunteer in users %}
      <li role="presentation"><a role="menuitem" tabindex="-1" href=/admin/volunteer/{{volunteer.user_id}}>{{volunteer.first_name}} {{volunteer.surname}}</a></li>
        {% endfor %}
    </ul>
  </div>
{% endif %}
<br>

<table class="volunteer_key">
    <tr>
        <th>Key</th>
    </tr>
    <tr>
        <td bgcolor="#fc9f9f">Not enough volunteers signed up to help with workshop.</td>
        <td bgcolor="#c4fc9f">Required number of volunteers signed up to help with workshop.</td>
        <td bgcolor="#00bbff">Your current selected volunteer slots.</td>
    </tr>
</table>

<br>
<button type="button" class="btn btn-primary" id="submit_button" data-user-id="{{ user.user_id }}">Save</button>
<br>

<table class="volunteer_table">
    <tr>
        <th></th>
    {% for workshop_room in workshop_rooms_in_use %}
        <th>{{workshop_room.room_name}}</th>
    {% endfor %}
    </tr>

    {% for time_slot in time_slots %}
        <tr>
        <th class="clickable"><span data-toggle="tooltip" data-placement="top" title="Users available - {% for user in (selected_jam.volunteers_attending_jam| remove_duplicates(time_slot.volunteers_busy_in_slot)) %} {{user.first_name}} {{user.surname}}, {% endfor %}">{{time_slot.title}}<br> ({{ time_slot.total_volunteers_signed_up }} / {{ time_slot.total_volunteers_required }})</span></th>
        {% for room in time_slot.rooms %}
            {% if room.workshop.dummy %}
                <td bgcolor="#d3d3d3">None</td>
            {% else %}
            <td id="{{ room.workshop.workshop_run_id }}" bgcolor={{room.workshop.bg_colour}} class="clickable"><span data-toggle="tooltip" data-placement="top" title="{% for user in room.workshop.users %} {{user.first_name}} {{user.surname}}, {% endfor %}">{{room.workshop.workshop.workshop_title}} -  {{room.workshop.users|length}}/{{room.workshop.workshop_needed_volunteers}}</span></td>
            {% endif %}
        {% endfor %}
        </tr>
    {% endfor %}

</table>
<br>
<div id="current_selected" data-current-selected="{{ current_selected }}"></div>
<h2>Calendar feed</h2>
<p>To sync this <b>single Jam</b> with your calendar, use the following custom iCal feed link with your calendar software.</p>
<input class="form-control" type="text" size="100" value="{{ base_url }}/ics/{{ user.ics_uuid }}/{{ jam_id }}.ics" id="ics_url">
<br>
<p>To sync this and <b>all past/future Jams</b> with your calendar, use the following custom iCal feed link with your calendar software.</p>
<input class="form-control" type="text" size="100" value="{{ base_url }}/ics/{{ user.ics_uuid }}.ics" id="ics_url_all">

{% endblock %}