{%include 'admin/admin_header.html'%}

<script src="/static/js/volunteer.js"></script>

<h1>Volunteer signup</h1>
<p>Select sessions you would like to volunteer with by simply clicking on them. Once you have made any changes, make sure to hit the save button!</p>

<br>

<table class="volunteer_key">
    <tr>
        <th>Key</th>
    </tr>
    <tr>
        <td bgcolor="#fc9f9f">No volunteers currently signed up.</td>
        <td bgcolor="#fcbd00">Under half the volunteer numbers required</td>
        <td bgcolor="#fff60a">Over half the volunteer numbers required</td>
        <td bgcolor="#c4fc9f">Required number of volunteers</td>
        <td bgcolor="#00bbff">Your current selected volunteer slots</td>
    </tr>
</table>

<br>
<button type="button" class="btn btn-primary" id="submit_button" >Save</button>
<br>

<table class="volunteer_table">
    <tr>
        <th></th>
    {% for workshop_room in workshop_rooms_in_use %}
        <th>{{workshop_room.room_name}}</th>
    {% endfor %}
    </tr>

    {% for time_slot in time_slots %}
        <tr>
        <th>{{time_slot.slot_time_start}} - {{time_slot.slot_time_end}}</th>
        {% for room in time_slot.rooms %}
            {% if room.workshop.dummy %}
                <td bgcolor="#d3d3d3">None</td>
            {% else %}
            <td id="{{ room.workshop.workshop_run_id }}" bgcolor={{room.workshop.bg_colour}} class="clickable"><span data-toggle="tooltip" data-placement="top" title="{% for user in room.workshop.users %} {{user.first_name}} {{user.surname}}, {% endfor %}">{{room.workshop.workshop.workshop_title}} -  {{room.workshop.users|length}}/{{room.workshop.workshop_room.room_volunteers_needed}}</span></td>
            {% endif %}
        {% endfor %}
        </tr>
    {% endfor %}

</table>
<br>
<div id="current_selected" data-current-selected="{{ current_selected }}"></div>

{%include 'footer.html'%}