{% extends "layout.html" %}

{% block content %}

<h1>Volunteer Attendance</h1>

<h4>The current selected Jam is - {{ eventbrite_event_name }}</h4>
{%include 'admin/modify_attendance.html'%}

<div class="attendees">
    <table class="table table-hover, table-bordered">
        <tr bgcolor="#d3d3d3">
            <th>First name</th>
            <th>Surname</th>
            <th>Attending Main Jam</th>
            <th>Attending Setup</th>
            <th>Attending Packdown</th>
            <th>Attending Food After</th>
            <th style="width: 15%">Notes</th>
            <th>Sessions</th>
        </tr>
        {% for volunteer_attendance in volunteer_attendances %}
            <tr>
                <td {% if volunteer_attendance.user_id == user_id %} bgcolor="aqua" {% endif %} >{{volunteer_attendance.first_name|capitalize}}</td>
                <td {% if volunteer_attendance.user_id == user_id %} bgcolor="aqua" {% endif %} >{{volunteer_attendance.surname|capitalize}}</td>
                {% if volunteer_attendance.attend %}
                    {% if volunteer_attendance.attend.volunteer_attending %}
                        <td bgcolor="#90ee90">Yes</td>
                    {% else %}
                        <td bgcolor="#f08080">No</td>
                    {% endif %}
                    {% if volunteer_attendance.attend.setup_attending %}
                        <td bgcolor="#90ee90">Yes</td>
                    {% else %}
                        <td bgcolor="#f08080">No</td>
                    {% endif %}
                    {% if volunteer_attendance.attend.packdown_attending %}
                        <td bgcolor="#90ee90">Yes</td>
                    {% else %}
                        <td bgcolor="#f08080">No</td>
                    {% endif %}
                    {% if volunteer_attendance.attend.food_attending %}
                        <td bgcolor="#90ee90">Yes</td>
                    {% else %}
                        <td bgcolor="#f08080">No</td>
                    {% endif %}
                    {% if volunteer_attendance.attend.notes == None %}
                        <td></td>
                    {% else %}
                        <td>{{volunteer_attendance.attend.notes}}</td>
                    {% endif %}
                {% else %}
                    <td bgcolor="orange">Not replied</td>
                    <td bgcolor="orange">Not replied</td>
                    <td bgcolor="orange">Not replied</td>
                    <td bgcolor="orange">Not replied</td>
                    <td></td>
                {% endif %}
                <td data-toggle="tooltip" data-placement="top" data-html="true" title="{% for workshop in volunteer_attendance.current_jam_workshops_involved_in %} {{workshop}},<br> {% endfor %} ">{{volunteer_attendance.current_jam_workshops_involved_in|count}}</td>

            </tr>
        {% endfor %}
    </table>
</div>
{% endblock %}