{% extends "layout.html" %}

{% block content %}

<h1>Volunteer Attendance</h1>

<h4>The current selected Jam is - {{ selected_jam.name }} - {{ selected_jam.date.strftime('%d/%m/%Y') }} - {{ selected_jam.event_source.name | capitalize }} Event</h4>
{%include 'admin/modify_attendance.html'%}

<div class="attendees">
    <table class="table table-hover, table-bordered">
        <tr bgcolor="#d3d3d3">
            <th>First name</th>
            <th>Surname</th>
            <th>Attending Main Jam <br> ({{ stats.attending_main_jam | length }} / {{ volunteer_attendances | length }})</th>
            <th>Attending Setup <br> ({{ stats.attending_setup | length }} / {{ volunteer_attendances | length }})</th>
            <th>Attending Packdown <br> ({{ stats.attending_packdown | length }} / {{ volunteer_attendances | length }})</th>
            <th>Attending Food After <br> ({{ stats.attending_food | length }} / {{ volunteer_attendances | length }})</th>
            <th>Arrival time</th>
            <th style="width: 30%">Notes</th>
            <th>Last edited</th>
            <th>Sessions</th>
        </tr>
        {% for volunteer_attendance in volunteer_attendances %}
            <tr>
                <td {% if volunteer_attendance.user_id == user_id %} bgcolor="aqua" {% endif %} >{{volunteer_attendance.first_name|capitalize}}</td>
                <td {% if volunteer_attendance.user_id == user_id %} bgcolor="aqua" {% endif %} >{{volunteer_attendance.surname|capitalize}}</td>
                {% if volunteer_attendance.attend %}
                    {% if volunteer_attendance.attend.volunteer_attending %}
                        <td bgcolor="#90ee90">Yes</td>
                    {% else %}
                        <td bgcolor="#f08080">No</td>
                    {% endif %}
                    {% if volunteer_attendance.attend.setup_attending %}
                        <td bgcolor="#90ee90">Yes</td>
                    {% else %}
                        <td bgcolor="#f08080">No</td>
                    {% endif %}
                    {% if volunteer_attendance.attend.packdown_attending %}
                        <td bgcolor="#90ee90">Yes</td>
                    {% else %}
                        <td bgcolor="#f08080">No</td>
                    {% endif %}
                    {% if volunteer_attendance.attend.food_attending %}
                        <td bgcolor="#90ee90">Yes</td>
                    {% else %}
                        <td bgcolor="#f08080">No</td>
                    {% endif %}
                    {% if volunteer_attendance.attend.arrival_time == None or not volunteer_attendance.attend.volunteer_attending %}
                        <td></td>
                    {% else %}
                        <td>{{volunteer_attendance.attend.arrival_time.strftime('%H:%M')}}</td>
                    {% endif %}
                    {% if volunteer_attendance.attend.notes == None %}
                        <td></td>
                    {% else %}
                        <td>{{volunteer_attendance.attend.notes}}</td>
                    {% endif %}
                    
                    {% if volunteer_attendance.attend.last_edit_date == None %}
                        <td></td>
                    {% else %}
                        <td>{{volunteer_attendance.attend.last_edit_date}}</td>
                    {% endif %}
                {% else %}
                    <td bgcolor="orange">Not replied</td>
                    <td bgcolor="orange">Not replied</td>
                    <td bgcolor="orange">Not replied</td>
                    <td bgcolor="orange">Not replied</td>
                    <td></td>
                    <td></td>
                    <td></td>
                {% endif %}
                <td data-toggle="tooltip" data-placement="top" data-html="true" title="{% for workshop in volunteer_attendance.current_jam_workshops_involved_in %} {{workshop}},<br> {% endfor %} ">{{volunteer_attendance.current_jam_workshops_involved_in|count}}</td>

            </tr>
        {% endfor %}
    </table>
</div>
{% endblock %}