{% extends "layout.html" %}

{% block content %}

<h1>"{{workshop.workshop_title}}" workshop details</h1>
<p></p>

<br>

<a href="/admin/manage_workshop_catalog" class="btn btn-info" role="button">Return to Workshop Catalog</a> <br>

{% with messages = get_flashed_messages(with_categories=true) %}
          <!-- Categories: success (green), info (blue), warning (yellow), danger (red) -->
          {% if messages %}
            {% for category, message in messages %}
              <div class="alert alert-{{ category }} alert-dismissible" role="alert">
              <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <!-- <strong>Title</strong> --> {{ message }}
              </div>
            {% endfor %}
          {% endif %}
        {% endwith %}


<h2>Workshop equipment</h2>


<table>
    <tr>
        <th>Equipment name</th>
        <th>Quantity required per attendee</th>
        <th>Quantity required per workshop</th>
        <th>Total available in the system</th>
        <th>Remove</th>
    </tr>

    {% for equipment in equipments %}
        <tr>
        <td>{{equipment.equipment.equipment_name}}</td>
        {% if equipment.equipment_per_attendee %}
            <td>{{equipment.equipment_quantity}}</td>
            <td>N/A</td>
        {% else %}
            <td>N/A</td>
            <td>{{equipment.equipment_quantity}}</td>
        {% endif %}
        <td>N/A</td>
        <td><a href="/admin/delete_workshop_equipment/{{equipment.equipment_id}}/{{equipment.workshop_id}}" class="btn btn-danger" role="button">Remove</a><br></td>
        </tr>
    {% endfor %}
    
</table>

<h3>Add equipment</h3>

<form method="POST" enctype="multipart/form-data" style="max-width: 220px">
  <dl>
    {{ render_field(equipment_form.equipment_name, class="selectpicker", **{'data-live-search':'true'}) }}
    {{ render_field(equipment_form.equipment_quantity_needed, class = "form-control") }}
    {{ render_field(equipment_form.per_attendee) }}
  </dl>
  <p><input class="btn btn-primary" type=submit value="Add equipment">
</form>

<hr>

<h2>Workshop files</h2>

<table>
    <tr>
        <th>File title</th>
        <th>File type</th>
        <th>Upload date</th>
        <th>Visibility</th>
        <th>Path</th>
        <th>Download</th>
        <th>Print Queue</th>
        <th>Delete</th>
    </tr>

    {% for workshop_file in workshop.workshop_files %}
        <tr>
        <td>{{workshop_file.file_title}}</td>
        <td>{{workshop_file.file_type.name}}</td>
        <td>{{workshop_file.file_edit_date}}</td>
        <td>{{workshop_file.file_permission}}</td>
        <td>{{workshop_file.file_path}}</td>
        <td><a href="/{{workshop_file.file_path}}" class="btn btn-primary" role="button">Download</a><br></td>
        <td><button class="btn btn-success" onclick='addFileToPrintQueue({{ workshop_file.file_id }})'>Add to print queue</button></td>
        <td><a href="/admin/delete_workshop_file/{{workshop_file.file_id}}" class="btn btn-danger" role="button">Delete</a><br></td>
        </tr>
    {% endfor %}

</table>


<h3>Upload new files</h3>

<form method="POST" enctype="multipart/form-data" style="max-width: 220px">
  <dl>
    {{ render_field(file_form.file_title, class = "form-control") }}
    {{ render_field(file_form.file_type, class = "form-control") }}
    {{ render_field(file_form.file_permission, class = "form-control") }}
    {{ render_field(file_form.upload) }}
  </dl>
  <p><input class="btn btn-primary" type=submit value="Upload file">
</form>

<hr>
{% if modules_enabled.module_badge %}
<h2>Badge requirements</h2>
<table>
    <tr>
        <th>Badge name</th>
        <th>Edit badge details</th>
        <th>Remove requirement</th>
    </tr>
    {% for badge in workshop.badges %}
    <tr>
        <td>{{badge.badge_name}}</td>
        <td><a href="/admin/badge/edit/{{badge.badge_id}}" class="btn btn-success" role="button">Edit badge</a><br></td>
        <td><a href="/admin/badge/remove_workshop_requirement/{{badge.badge_id}}/{{workshop.workshop_id}}" class="btn btn-danger" role="button">Remove requirement</a><br></td>
    </tr>
    {% endfor %}

<form method="POST" enctype="multipart/form-data" style="max-width: 220px">
  <dl>
    {{ render_field(badge_form.badge_id, class = "form-control") }}
  </dl>
  <p><input class="btn btn-primary" type=submit value="Add badge">
</form>

</table>
{% endif %}

{% endblock %}