{%include 'admin/admin_header.html'%}
{% from "_formhelpers.html" import render_field %}

<h1>{{workshop.workshop_title}} files</h1>
<p></p>

<br>

<table>
    <tr>
        <th>File title</th>
        <th>Upload date</th>
        <th>Visibility</th>
        <th>Path</th>
        <th>Download</th>
        <th>Delete</th>
    </tr>

    {% for workshop_file in workshop.workshop_files %}
        <tr>
        <td>{{workshop_file.file_title}}</td>
        <td>{{workshop_file.file_edit_date}}</td>
        <td>{{workshop_file.file_permission}}</td>
        <td>{{workshop_file.file_path}}</td>
        <td><a href="{{workshop_file.file_path}}" class="btn btn-primary" role="button">Download</a><br></td>
        <td><a href="/admin/delete_workshop_files/{{workshop_file.file_id}}" class="btn btn-danger" role="button">Delete</a><br></td>
        </tr>
    {% endfor %}

</table>

{% with messages = get_flashed_messages(with_categories=true) %}
          <!-- Categories: success (green), info (blue), warning (yellow), danger (red) -->
          {% if messages %}
            {% for category, message in messages %}
              <div class="alert alert-{{ category }} alert-dismissible" role="alert">
              <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <!-- <strong>Title</strong> --> {{ message }}
              </div>
            {% endfor %}
          {% endif %}
        {% endwith %}


<h2>Upload new files</h2>

<form method="POST" enctype="multipart/form-data" style="max-width: 220px">
  <dl>
    {{ render_field(form.file_title, class = "form-control") }}
    {{ render_field(form.file_permission, class = "form-control") }}
    {{ render_field(form.upload) }}
  </dl>
  <p><input class="btn btn-primary" type=submit value="Upload file">
</form>

{%include 'footer.html'%}